version: '3.7'
services:
  server:
    container_name: ticket-together
    image: jym3263/ticket-together
    ports:
      - "8080:8080"
    logging:
      driver: awslogs
      options:
        awslogs-group: "server/log"
        awslogs-region: "ap-northeast-2"
        awslogs-stream: "server/error"
    environment:
      - TZ=Asia/Seoul
